.header-content{
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.item-content{
    display: flex;
    gap: 20px;
    align-items: center;
}
.item-content-2{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

.table-content{
    padding-top: 20px;
}

.form-conten {
    text-align: center;
    align-items: center;
}

.form-input {
    align-items: center;
    padding-bottom: 10px;
}
.form-input1 {
    padding-top: 60px;
    align-items: center;
    padding-bottom: 30px;
}
.form-input2 {
    align-items: center;
    padding-bottom: 50px;
}